@import './normalize.css';
@import './css_var_colors.css';
@import './css_var_globals.css';
@import './typo.css';
@import './globals.css';
@import './layout.css';
@import './header.css';
@import './panels.css';
@import './panel-mobile.css';
@import './main-tabs.css';
@import './table.css';
@import './animations.css';
@import './github-input.css';

.ace_editor {
    height: 100%;
    width: 100%;
}

.blockly-workspace {
    height: 80vh;
    width: 100%;
}

a:hover {
    cursor: pointer;
}

#editor-preferences {
    padding: 0.5rem;
}

.choice-a {
    display: flex;
    flex-wrap: wrap;
}

.choice-a > button {
    width: 24px;
}

.choice-a > .choice-input {
    width: auto;
}

.error-tab.active-text {
    color: red;
}

.error-tab {
    color: lightcoral;
}

.hide {
    display: none;
}

.auth-button {
    padding: 0.5rem 1.5rem;
    position:relative;
    cursor: pointer;
    position: relative;
    background: var(--gradient-bg);
    color: var(--white);
    border-radius: var(--border-radius);
    border: none;
    z-index: 1;
  }
  
  .auth-button:after {
    content:'';
    position: absolute;
    right:0.5rem;
    background: url('../images/open-link-icon-white.svg') no-repeat center center;
    height: 18px;
    width:18px;
    background-size: 42px;
  }

.panel-table {
    height: 8rem;
    overflow-x: scroll;
}