@import './normalize.css';
@import './css_var_colors.css';
@import './css_var_globals.css';
@import './typo.css';
@import './globals.css';
@import './layout.css';
@import './header.css';
@import './panels.css';
@import './panel-mobile.css';
@import './main-tabs.css';
@import './table.css';
@import './animations.css';

.ace_editor {
    height: 100%;
    width: 100%;
}

.blockly-workspace {
    height: 80vh;
    width: 100%;
}

a:hover {
    cursor: pointer;
}

#editor-preferences {
    padding: 0.5rem;
}